<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2notice</key>
	<array>
		<string>通知</string>
	</array>
	<key>3clearmessage</key>
	<array>
		<string>清空聊天记录</string>
	</array>
	<key>4about</key>
	<array>
		<string>关于WeShare</string>
	</array>
	<key>1personal</key>
	<array>
		<string>个人信息</string>
	</array>
	<key>5logout</key>
	<array>
		<string>退出登陆</string>
	</array>
</dict>
</plist>
